@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Nova+Mono&display=swap");

.App {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    font-size: calc(1em + 1vw);
    margin: 0;
    margin-top: 5rem;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    .name {
        margin-top: 1rem;
    }

    .display-pic {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }

    .sub-heading {
        margin-top: 5rem;
        text-align: left;
        font-size: 1.5rem;
    }

    .list-item {
        font-size: 1rem;
    }

    #small-link {
        text-decoration: none;
    }

    .socials {
        margin-top: 2rem;
        position: relative;
        text-align: left;

        .link {
            color: black;

            .favicon {
                height: 4rem;
                width: 4rem;
                padding: 0.5vw;
                transition: transform 0.5s ease;
            }

            .favicon:hover {
                text-decoration: none;
                transform: scale(1.3);
            }
        }
    }
}

.contactContainer {
    margin-top: 0rem;
    text-align: left;
    font-family: "JetBrains Mono", monospace;
}

.footer-container {
    font-size: 0.5rem;
    display: flex;
    flex: 1;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(246, 246, 246);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height: 900px) {
    .contactContainer {
        margin-top: 0rem;
        text-align: left;
        font-family: "JetBrains Mono", monospace;
    }

    .display-pic {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
    }

    .favicon {
        width: 5rem;
        height: 5rem;
        padding: 0.5vw;
        transition: transform 0.5s ease;
    }

    .sub-heading {
        margin-top: 1rem;
        text-align: left;
        font-size: 4rem;
    }

    .list-item {
        font-size: 2vw;
    }
}
